<div
  class="overflow-x-auto card bg-base w-1/2 mx-auto p-10 mt-24 shadow-xl flex flex-col rounded-lg"
>
  @if (!registerMode()) {
    <div class="card-actions">
      <button
        (click)="showRegister(true)"
        class="btn btn-neutral bg-yellow-600 border-yellow-600 btn-lg"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6"
        >
          <path
            d="M5.25 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM2.25 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM18.75 7.5a.75.75 0 0 0-1.5 0v2.25H15a.75.75 0 0 0 0 1.5h2.25v2.25a.75.75 0 0 0 1.5 0v-2.25H21a.75.75 0 0 0 0-1.5h-2.25V7.5Z"
          />
        </svg>

        Add Client
      </button>
    </div>
    <h1 class="card-title self-center mt-2 font-bold text-3xl text-yellow-600">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-8"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
          clip-rule="evenodd"
        />
      </svg>

      Subscriptions Ending Today
    </h1>
    <table class="table card-body">
      <!-- head -->
      <thead class="text-lg font-bold">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Registration Date</th>
          <th>Expiration Date</th>
        </tr>
      </thead>
      @for (client of clientsFromApp; track client.id) {
        @if (!isExpiringToday(client.expirationDate)) {
          <tbody>
            <!-- row 1 -->
            <tr class="bg-base-200">
              <th>{{ client.id }}</th>
              <td>{{ client.fullName }}</td>
              <td>{{ client.subscriptionDate | date: 'short' }}</td>
              <td>{{ client.expirationDate | date: 'short' }}</td>
            </tr>
          </tbody>
        }
      }
    </table>
  } @else {
    <app-register (cancelRegister)="showRegister($event)" />
  }
</div>
